<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Bienvenue chez Keman Racing !{% endblock %}</title>
  {% block stylesheets %}
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link href="{{ asset('/assets/img/logo.png') }}" rel="icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">
  <link href="{{ asset('/assets/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('/assets/lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ asset('/assets/lib/prettyphoto/css/prettyphoto.css') }}" rel="stylesheet">
  <link href="{{ asset('/assets/lib/hover/hoverex-all.css') }}" rel="stylesheet">
  <link href="{{ asset('/assets/lib/jetmenu/jetmenu.css') }}" rel="stylesheet">
  <link href="{{ asset('/assets/lib/owl-carousel/owl-carousel.css') }}" rel="stylesheet">
  <link href="{{ asset('/assets/css/style.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ asset('/assets/css/colors/blue.css') }}">
</head>
{% endblock %}

{% block header %}
  <div class="topbar clearfix">
    <div class="container">
      <div class="col-lg-12 text-right">
        <div class="social_buttons">
          <a href="https://fr-fr.facebook.com/" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/?lang=fr" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://plus.google.com/discover" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
          <a href="https://dribbble.com/" data-toggle="tooltip" data-placement="bottom" title="Dribbble"><i class="fa fa-dribbble"></i></a>
          <a href="https://fr.wikipedia.org/wiki/RSS" data-toggle="tooltip" data-placement="bottom" title="RSS"><i class="fa fa-rss"></i></a>
        </div>
      </div>
    </div>
  </div>

  <header class="header">
    <div class="container">
      <div class="site-header clearfix">
        <div class="col-lg-3 col-md-3 col-sm-12 title-area">
          <div class="site-title" id="title">
            <a href="/" title="">
              <h4>Keman<span>Racing !</span></h4>
            </a>
          </div>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12">
          <div id="nav" class="right">
            <div class="container clearfix">
              <ul id="jetmenu" class="jetmenu blue">
                <li class="active"><a href="{{ asset('/') }}">Acceuil</a>
                </li>
                <li><a href="/">Nous connaître</a>
                  <ul class="dropdown">
                    <li><a href="{{ asset('/qsn') }}">Qui sommes-nous ?</a></li>
                    <li><a href="{{ asset('/services') }}">Nos services</a></li>
                    <li><a href="{{ asset('/equipe') }}">Notre équipe</a></li>
                    <li><a href="{{ asset('/faq') }}">FAQ</a></li>
                    <li><a href="{{ asset('/contact') }}">Nous Contacter</a></li>
                    {% if app.user %}
                    <li><a href="{{ asset('/avis') }}">Déposer un avis</a></li>
                    {% endif %}
                  </ul>
                </li>
                <li><a href="{{ asset('/circuits') }}">Nos circuits</a></li>
                <li><a href="{{ asset('/register') }}">Votre compte</a>
                  <ul class="dropdown">
                    {% if app.user %}
                    {% elseif not app.user %}
                    <li><a href="{{ asset('/login') }}">Connexion</a></li>
                    <li><a href="{{ asset('/register') }}">Inscription</a></li>
                    {% endif %}
                    {% if app.user %}
                      <li><a href="{{ asset('/panier') }}">Votre panier</a></li>
                      <li><a href="{{ asset('/commandes') }}">Mes commandes</a></li>
                      <li><a href="{{ asset('/compte') }}">Mon compte</a></li>
                      <li><a href="{{ asset('/logout') }}">Deconnexion</a></li>
                    {% elseif not app.user %}
                    {% endif %}
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
{% block body %}

{% endblock %}

{% block footer %}
  <footer class="footer">
    <div class="container">
      <div class="widget col-lg-3 col-md-3 col-sm-12">
        <h4 class="title">A propos de nous</h4>
        <p>Keman Racing ! est une entreprise fictive dans le but d'un projet noté. Rien de tout ça est vrai !</p>
      </div>
      <div class="widget col-lg-3 col-md-3 col-sm-12">
        <h4 class="title">Dernières nouveautés</h4>
        <ul class="recent_posts">
          <li>
            <a href="{{ asset('/home1') }}">
            <img src="{{ asset('assets/img/recent_post_01.png') }}" alt="mobile" /> Bientôt une nouvelle application mobile !</a>
            <a class="readmore" href="{{ asset('/#') }}">En savoir plus</a>
          </li>
          <li>
            <a href="{{ asset('/home1') }}#">
            <img src="{{ asset('assets/img/recent_post_02.png') }}" alt="Nouvelles" /> Bientôt de nouveaux modèles !</a>
            <a class="readmore" href="{{ asset('/nouvelles') }}">En savoir plus</a>
          </li>
        </ul>
      </div>
      <div class="widget col-lg-3 col-md-3 col-sm-12">
        <h4 class="title"> Restons en contact</h4>
        <ul class="contact_details">
          <li><i class="fa fa-envelope-o"></i> info@kemanracing.com</li>
          <li><i class="fa fa-phone-square"></i> 01 12 23 45 56</li>
          <li><i class="fa fa-home"></i> Siège social, 2 rue Jean Macé, 78360 Montesson</li>
        </ul>
      </div>
      <div class="widget col-lg-3 col-md-3 col-sm-12">
        <h4 class="title">Nous trouver</h4>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d655.5617232372005!2d2.1535200292831567!3d48.91068819870577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e663b1dbf34669%3A0x68a58f40089ea408!2s2+Rue+Jean+Mac%C3%A9%2C+78360+Montesson!5e0!3m2!1sfr!2sfr!4v1549376809503" width="250" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="copyrights">
      <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12 columns footer-left">
          <p>Copyright © 2018 - Tous droits réservés.</p>
          <div class="credits">
            Crée pour un examen à l'<a href="https://www.ifocop.fr/" target="blank">IFOCOP</a>, PARIS.
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 columns text-right">
          <div class="footer-menu right">
            <ul class="menu">
              <li><a href="{{ asset('/') }}">Acceuil</a></li>
              <li><a href="{{ asset('/qsn') }}">A propos</a></li>
              <li><a href="{{ asset('/plan') }}">Plan du site</a></li>
              <li><a href="{{ asset('/CGV') }}">CGV</a></li>
              <li><a href="{{ asset('/contact') }}">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}

{% block javascripts %}
  <div class="dmtop">Scroll to Top</div>
  <script src="{{ asset('/assets/lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('/assets/lib/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('/assets/lib/php-mail-form/validate.js') }}"></script>
  <script src="{{ asset('/assets/lib/prettyphoto/js/prettyphoto.js') }}"></script>
  <script src="{{ asset('/assets/lib/isotope/isotope.min.js') }}"></script>
  <script src="{{ asset('/assets/lib/hover/hoverdir.js') }}"></script>
  <script src="{{ asset('/assets/lib/hover/hoverex.min.js') }}"></script>
  <script src="{{ asset('/assets/lib/unveil-effects/unveil-effects.js') }}"></script>
  <script src="{{ asset('/assets/lib/owl-carousel/owl-carousel.js') }}"></script>
  <script src="{{ asset('/assets/lib/jetmenu/jetmenu.js') }}"></script>
  <script src="{{ asset('/assets/lib/animate-enhanced/animate-enhanced.min.js') }}"></script>
  <script src="{{ asset('/assets/lib/jigowatt/jigowatt.js') }}"></script>
  <script src="{{ asset('/assets/lib/easypiechart/easypiechart.min.js') }}"></script>

  <script src="{{ asset('/assets/js/main.js') }}"></script>
{% endblock %}
    </body>
</html>
