{% extends 'base.html.twig' %}

{% block body %}
  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/">Acceuil</a></li>
          <li>Nos voitures</li>
        </ul>
        <h2>Vous avez choisit le circuit {{ circuit.getCircuitName() | raw }}</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Chercher..." />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>
          <section class="section1">
            <div class="container clearfix">
                <div class=" col-lg-12 col-md-12 col-sm-12 clearfix">

                  <div class="divider"></div>
                <h1>JE CHOISIS ENSUITE MA VOITURE !</h1>
                <nav class="portfolio-filter clearfix">
                  <ul>
                    <li><a href="" class="dmbutton2" data-filter="*">Toutes les marques </a></li>
                    {% for brand in filteredBrands %}
                    <li><a href="" class="dmbutton2" data-filter=".{{brand}}">{{brand}}</a></li>
                    {% endfor %}
                  </ul>
                </nav>
                <div class="portfolio-centered">
                <div class="recentitems portfolio">

                  {% for brand in brands %}

                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 {{brand.getBrandName()}}">
                    <div class="he-wrap tpl6 market-item">
                      <img src="{{brand.getBrandImage | raw }}" alt="{{brand.getBrandModel}}">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">{{brand.getBrandName()}} - {{brand.getBrandModel}}</h3>
                            <a data-rel="prettyPhoto" href="{{brand.getBrandImage | raw }}"></a>
                            <a href="brands/{{brand.getId()}}?circuitId={{circuit.getId()}}" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-link"></i></a>
                            <div class="portfolio_category text-center a2" data-animate="fadeIn">
                            <a href="brands/{{brand.getId()}}?circuitId={{circuit.getId()}}">{{brand.getBrandTitle}}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <div class="portfolio-centered">
  <div class="recentitems portfolio">
  </div>
</div>
{% endblock %}
