{% extends 'base.html.twig' %}

{% block body %}
  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/">Acceuil</a></li>
          <li>{{ brand.getBrandName() | raw }} {{ brand.getBrandModel() | raw }}</li>
        </ul>
        <h2>{{ brand.getBrandName() | raw }} {{ brand.getBrandModel() | raw }}, vous avez choisi le circuit {{ circuit.getCircuitName() | raw }}</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Chercher..." />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>
    <section class="marketplace-top">
    <div id="market-wrapper">
      <div class="item_image">
         <img data-effect="fade" class="aligncenter" width="600" height="400" src="{{ brand.getbrandImage | raw }}">
      </div>
    </div>
  </section>
  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="general-title text-center">
          <h3> {{ brand.getBrandName() | raw }} {{ brand.getbrandModel() | raw }}</h3>
          <p>{{ brand.getBrandTitle | raw }} </p>
          <hr>
        </div>
        <div class="divider"></div>
        <div class="item_details">
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="theme_details">
              <div class="details_section">
                <h3>En détails : </h3>
                <ul>
                  <li class="version"> Puissance : <span>{{ brand.getbrandPower() | raw }}</span></li>
                  <li class="designer"> 0 - 100 : <span>{{ brand.getbrandChrono() | raw }}</span></li>
                  <li class="release"> Vitesse Max : <span>{{ brand.getbrandVmax() | raw }}</span></li>
                </ul>
              </div>
            </div>
          </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="theme_details">
          <div class="item-description">
            {{brand.getBrandHistory | raw }}
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="theme_details">
          <div class="item_price">
            <h4>Son prix est de {{ brand.getBrandPrix | raw }} €</h4>
          </div>
              <hr>
              <div class="buttons">
                <a class="button btn-block large" href="/panier?circuitId={{circuit.getId()}}&brandId={{brand.getId()}}"></i>Continuer vers le panier</a>
              </div>
              <hr>
            </div>
          </div>
        </div>
    <div class="clearfix"></div>
</div>
</div>
</section>
  <div class="item">
    <div id="owl-demo" class="owl-carousel">

  {% for i in 1..9 %}
  <a data-rel="prettyPhoto" href="{{brand.getBrandImages ~ i ~ '.jpg' }}">
    <div class="item">
        <img src="{{brand.getBrandImages ~ i ~ '.jpg' }}" alt="{{brand.getBrandModel}}">
    </div>
  {% endfor %}
      </a>
  </div>
</div>

{% endblock %}