{% extends 'base.html.twig' %}

{% block body %}
  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/">Acceuil</a></li>
          <li>Nos circuits</li>
        </ul>
        <h2>NOS CIRCUITS</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Chercher..." />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>


  <section class="section1">
    <div class="container clearfix">
      <div class=" col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="divider">
        </div>
          <h1>JE CHOISIS D'ABORD MON CIRCUIT !</h1>
        <nav class="portfolio-filter clearfix">
          <ul>
            <li><a href="#" class="dmbutton2" data-filter="*">Tous les pays</a></li>
              {% for circuit in filteredCircuits %}
            <li><a href="#" class="dmbutton2" data-filter=".{{ circuit }}">{{ circuit }}</a></li>
              {% endfor %}
          </ul>
        </nav>
        <div class="portfolio-centered">
          <div class="recentitems portfolio">

            {% for circuit in circuits %}
            <div class="portfolio-item col-lg-6 col-md-6 col-sm-6 col-xs-12 {{ circuit.getCircuitPays() | raw }}">
              <div class="he-wrap tpl6 market-item">
                <img src="{{circuit.getCircuitImage | raw }}" alt="{{ circuit.getCircuitName() | raw }}">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                  <h3 class="big a1" data-animate="fadeInDown">{{ circuit.getCircuitName() | raw }}</h3>
                  <a data-rel="prettyPhoto" href="{{circuit.getCircuitImage | raw }}"></a>
                  <a href="circuits/{{circuit.getId()}}" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-link"></i></a>
                  <div class="portfolio_category text-center a2" data-animate="fadeIn">
                  <a href="circuits/{{circuit.getId()}}">{{ circuit.getCircuitTitre() | raw }}</a>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="title">{{ circuit.getCircuitName() | raw }}</h3>
            </div>
          {% endfor %}
        <div class="divider"></div>
      </div>
    </div></div></div>
  </section>

{% endblock %}