{% extends 'base.html.twig' %}

{% block body %}
  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/">Acceuil</a></li>
          <li>Circuit {{ circuit.getCircuitName() | raw }}</li>
        </ul>
        <h2>Circuit {{ circuit.getCircuitName() | raw }}</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Chercher..." />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="marketplace-top">
    <div id="market-wrapper">
      <div class="item_image">
         <img data-effect="fade" class="aligncenter" width="600" height="400" src="{{ circuit.getCircuitImage | raw }}">
      </div>
    </div>
  </section>
  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="general-title text-center">
          <h3>Circuit {{ circuit.getCircuitName() | raw }}</h3>
          <p>{{ circuit.getCircuitTitre | raw }}</p>
          <hr>
        </div>
        <div class="divider"></div>
        <div class="item_details">
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="theme_details">
              <div class="details_section">
                <h3>En détails : </h3>
                <ul>
                  <li class="version">Longueur : <span>{{ circuit.getCircuitLongueur() | raw }}</span></li>
                  <li class="release">Meilleur temps: <span>{{ circuit.getCircuitTour() | raw }}</span></li>
                  <li class="designer">Pilote : <span>{{ circuit.getCircuitPilote() | raw }}</span></li>
                  <li class="designer">Nombre de virages : <span>{{ circuit.getCircuitVirage() | raw }}</li>
                </ul>
              </div>
            </div>
          </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="theme_details">
          <div class="item-description">
            {{ circuit.getCircuitDescription() | raw }}
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="theme_details">
          <div class="item_price">

          </div>
              <hr>
              <div class="buttons">
                <a class="button btn-block large" href="/brands?circuitId={{circuit.getId()}}">
                  <i class="fas fa-arrow-right"></i> Continuer vers les voitures</a>
              </div>
              <hr>
            </div>
          </div>
        </div>
    <div class="clearfix"></div>

</section>
{% endblock %}