{% extends 'base.html.twig' %}

{% block title %} Keman Racing{% endblock %}
{% block body %}

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/">Acceuil</a></li>
          <li>Mon compte</li>
        </ul>
        <h2>MON COMPTE</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Chercher..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-8 col-md-8 col-sm-8 col-xs-12 clearfix">
        <table class="table table-striped" data-effect="fade">
          <thead>
            <tr>
              <th>Mes circuits</th>
              <th>Mes voitures</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>MaxFront Bootstrap Theme</td>
              <td>No downloadable files found</td>
            </tr>
            <tr>
              <td>Smart - Bootstrap Wordpress Theme</td>
              <td>1 Update Pending</td>
            </tr>
          </tbody>
        </table>

        <div class="clearfix"></div>
        <hr>

        <table class="table table-striped" data-effect="fade">
          <thead>
            <tr>
              <th>Numéro</th>
              <th>Dates</th>
              <th>Montants</th>
              <th>Consulter mes avis</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>01</td>
              <td>January 29, 2014</td>
              <td>$15.00</td>
              <td><a href="#">View Details and Downloads</a></td>
            </tr>
            <tr>
              <td>02</td>
              <td>December 31, 2013</td>
              <td>$18.00</td>
              <td><a href="#">View Details and Downloads</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
  {% endblock %}