{% extends 'base.html.twig' %}

{% block body %}
  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li>Connexion</li>
        </ul>
        <h2>CONNEXION</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Chercher..." />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h4 class="title">
            <span>Bienvenue !</span>
            </h4>
          <p>Connectez-vous afin de bénéficiez des dernières offres promotionelles !.</p>
          <p>De nombreuses nouveautés vous attendent, n'hésitez pas à vous inscrire à notre newsletter !</p>
          <p class="withpadding">Pas encore inscrit ? <a href="/register">Cliquez ici</a> pour créer un compte.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h4 class="title">
            <span>Formulaire de connexion</span>
            </h4>
          <form id="loginform" method="post" name="loginform" action="">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Nom">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" placeholder="Mot de passe">
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Se souvenir de moi
                </label>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="button">Je me connecte</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}