{% extends 'base.html.twig' %}

{% block title %} Keman Racing{% endblock %}
{% block body %}

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/">Acceuil</a></li>
          <li>Panier</li>
        </ul>
        <h2>PANIER</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Chercher..." />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-8 col-md-8 col-sm-8 col-xs-12 clearfix">

        <table class="table table-striped checkout" data-effect="fade">
          <thead>
            <tr>
              <th>Nom du produit</th>
              <th>Date et Heure</th>
              <th>Prix</th>
              <th>Supprimer</th>
            </tr>
          </thead>
          <tbody>
            {% for lignePanier in tableauLignePanier %}

              <tr>
                <td><a data-rel="prettyPhoto" href="{{ lignePanier.getCircuit().getCircuitImage() }}"><img width="50" src="{{ lignePanier.getCircuit().getCircuitImage() }}" alt=""></a> {{ lignePanier.getCircuit().getCircuitName() | raw }} <br /><br />

                <a data-rel="prettyPhoto" href="{{lignePanier.getBrand().getBrandImage() | raw }}"><img width="61" src="{{ lignePanier.getBrand().getbrandImage() | raw }}" alt=""></a> {{ lignePanier.getBrand().getBrandName() | raw }} {{ lignePanier.getBrand().getbrandModel() | raw }} </td>
                <td>
                    <input type="date" required >
                    <input type="time" required >
                </td>
                <td>{{ lignePanier.getBrand().getBrandPrix() | raw }} €</td>
                <td><a class="remove" href="/removePanier/{{ lignePanier.getId() }}" title="Supprimer"></a></td>
              </tr>

            {% endfor %}
          </tbody>
        </table>
        <div class="clearfix"></div>

        <div class="clearfix"></div>

        <div class="well text-right">
          <strong>
            <h4>Prix Total : {{ prixTotal }} </h4>
            <h4>Prix total avec 20 % de réduction : {% set prixReduc = prixTotal * 0.8 %} {{ prixReduc }} €</h4>
          </strong>
        </div>

        <div class="clearfix"></div>

        <div class="clearfix"></div>
        <div class="divider"></div>

        <h5 class="title">INFORMATIONS PERSONNELLES</h5>

        <form id="personalinfo" action="/confirmation" name="personalinfo" method="post">
          <label for="email">Adresse mail<span class="required">*</span></label>
          <input type="email" name="name" id="email" class="form-control" placeholder="Adresse mail" required >
          <label for="fname">Prénom<span class="required">*</span></label>
          <input type="text" name="fname" id="fname" class="form-control" placeholder="Prénom" required >
          <label for="lname">Nom de famille</label>
          <input type="text" name="lname" id="lname" class="form-control" placeholder="Nom" required >
        
        <div class="clearfix"></div>
        <div class="divider"></div>

        <h5 class="title">DÉTAIL DU PANIER</h5>

          <label for="cardnumber">Numéro de Carte <span class="required">*</span></label>
          <input type="text" name="cardnumber" id="cardnumber" class="form-control" placeholder="Votre numéro de carte" required >
          <label for="cvc">CVC <span class="required">*</span></label>
          <input type="text" name="cvc" id="cvc" class="form-control" placeholder="Code de sécurité" required >
          <label for="ncard">Nom du propriétaire de la carte <span class="required">*</span></label>
          <input type="text" name="ncard" id="ncard" class="form-control" placeholder="Nom du propriétaire de la carte" required >
          <label for="ncard">Expiration (Mois/Année) <span class="required">*</span></label>

          <div class="clearfix"></div>

          <select class="form-control" style="width:75px; float:left; margin-right:10px;">
					<option>01</option>
					<option>02</option>
					<option>03</option>
					<option>04</option>
					<option>05</option>
					<option>06</option>
					<option>07</option>
					<option>08</option>
					<option>09</option>
					<option>10</option>
					<option>11</option>
					<option>12</option>
				</select>
          <select class="form-control" style="width:75px;float:left">
					<option>18</option>
					<option>17</option>
					<option>19</option>
					<option>20</option>
					<option>21</option>
          <option>23</option>
          <option>24</option>
					<option>25</option>
				</select>
        
        <div class="clearfix"></div>
        <div class="divider"></div>

        <h5 class="title">ADRESSE DE FACTURATION</h5>

          <label for="baddress">Adresse principale</label>
          <input type="text" name="baddress" id="baddress" class="form-control" placeholder="Adresse principale" required >
          <label for="baddress1">Adresse secondaire (Optionel)</label>
          <input type="text" name="baddress1" id="baddress1" class="form-control" placeholder="Adresse secondaire " required >
          <label for="bcity">Ville</label>
          <input type="text" name="bcity" id="bcity" class="form-control" placeholder="Votre ville" required >
          <label for="bzip">Code postal</label>
          <input type="text" name="bzip" id="bzip" class="form-control" placeholder="Votre code postal" required >

          <div class="clearfix"></div>

          <select class="form-control">
					<option>France</option>
  				</select>
            <select class="form-control">
  					<option>Paris</option>
  					<option>Île de France</option>
  					<option>Savoie</option>
  					<option>Haute-Savoie</option>
  					<option>Montpellier</option>
  					<option>Toulouse</option>
  					<option>Amiens</option>
  					<option>Tours</option>
  				</select>
          <br>
          <br>
          <br>

          <label class="checkbox-inline">
            <input id="inlineCheckbox3" type="checkbox" value="option1" class="required" required >
            <strong>J'ACCEPTE LES TERMES ET LES CONDITIONS</strong>
          </label>

          <br/ ><br/ >
          <div class="clearfix"></div>
          <a href="/CGV"><button class="button">VOIR LES TERMES</button></a>
          <div class="clearfix"></div>
            <button class="button large btn-block">JE CONFIRME MA COMMANDE</button>
            </form>

          
         

        
        </div>
      </div>
    </div>
  </section>

{% endblock %}