{% extends 'base.html.twig' %}

{% block title %} Keman Racing{% endblock %}
{% block body %}

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/">Acceuil</a></li>
          <li>Plan du site</li>
        </ul>
        <h2>PLAN DU SITE</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Chercher..." />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>


<section class="section1">
  <div class="container clearfix">
    <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="theme_details">
          <div class="item-description">
            <a href="/"><li>Acceuil</li></a>
            <br/>
            <a href="/qsn"><li>Qui sommes-nous ?</li></a>
            <a href="/services"><li>Nos services</li></a>
            <a href="/equipe"><li>Notre équipe</li></a>
            <a href="/faq"><li>F.A.Q</li></a>
            <a href="/contact"><li>Nous contacter</li></a>
            <a href="/avis"><li>Déposer un avis</li></a>
            <br/>
            <a href="/circuits"><li>Nos circuits</li></a>
            <br/>
            <a href="/panier"><li>Votre panier</li></a>
            <a href="/commnades"><li>Mes commandes</li></a>
            <a href="/compte"><li>Mon compte</li></a>
            <br/>
            <a href="/CGV"><li>Conditions générales de ventes</li></a>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}