{% extends 'base.html.twig' %}

{% block body %}

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/">Acceuil</a></li>
          <li>Services</li>
        </ul>
        <h2>SERVICES</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Chercher..." />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="clearfix"></div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1" data-effect="slide-bottom">
                <i class="active dm-icon fa fa-eye fa-3x"></i>
              </div>
              <div class="servicetitle">
                <h4>Tuteurs passionnés</h4>
                <hr>
              </div>
              <p>Nos tuteurs sont d'anciens professionnels qui ont la volonté de vous faire aimer la conduite sportive en toute sécurité.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1" data-effect="slide-bottom">
                <i class="active dm-icon fa fa-cogs fa-3x"></i>
              </div>
              <div class="servicetitle">
                <h4>Voitures entretenues</h4>
                <hr>
              </div>
              <p>Nos véhicules sont entretenues par nos soins, lorsqu'un incident se produit, notre équipe de mécaniciens font le nécéssaire pour rendre le véhicule comme neuf.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1" data-effect="slide-bottom">
                <i class="active dm-icon fa fa-print fa-3x"></i>
              </div>
              <div class="servicetitle">
                <h4>Imprimez la data !</h4>
                <hr>
              </div>
              <p>Vous avez la possibilité d'enregistrer la data lorsque vous roulez (comme la vitesse, radios, le nombre de tours par minutes, etc...) pour l'analyser ensuite.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1" data-effect="slide-bottom">
                <i class="active dm-icon fa fa-video fa-3x"></i>
              </div>
              <div class="servicetitle">
                <h4>Montage vidéo</h4>
                <hr>
              </div>
              <p>Un montage vidéo vous est proposé (caméra sur pistes, pas dans l'habitacle), pour que vous puissiez avoir un autre rendu que celui que vous avez dans l'habitacle.</p>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <div class="tabbable servicetab tabs-left">
          <ul class="nav nav-tabs">
            <li class="active"><a href="services.html#tuteurs" data-toggle="tab"><i class="fa fa-laptop"></i> Nos Tuteurs</a></li>
            <li><a href="services.html#entretien" data-toggle="tab"><i class="fa fa-cogs"></i> Voitures entretenues</a></li>
            <li><a href="services.html#dataVoiture" data-toggle="tab"><i class="fa fa-print"></i> Imprimez la data !</a></li>
            <li><a href="services.html#video" data-toggle="tab"><i class="fa fa-video"></i> Montage vidéo</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tuteurs">
              <h5 class="title"><i class="fa fa-laptop"></i> Nos Tuteurs</h5>
              <div class="row">
                <div class="col-lg-6">
                  <p> Nos tuteurs sont d'anciens pilotes professionnels, venant de plusieurs catégories différentes afin de vous apporter le plus d'expérience possible. Paul Calfont est un ancien pilote de Formule 2, c'est un expert en matière de trajectoire et de réglages auto, il saura vous adapter le réglage de votre voiture à votre style de conduite. Christophe Lalonde connait tous les circuits sur le bout des doigts. Ancien pilote de DTM (championnats allemands de voitures de tourisme), il saura vous conseiller sur tous type de renseignements concernant la conduite auto sur piste.</p>
                  <p>Dominique Bernier quant à lui est un ancien pilote de Formule 3, il est très rapide sur piste, surtout dans les virages larges, avec lui, vous aurez toujours la meilleure trajectoire. 
                  Franck Ferdinand est notre doyen, il est avec nous depuis le début de l'aventure, et son expérience nous est précieuse, car il est, pendant son temps libre, pilote officiel de la Safety Car (voiture de sécurité) sur les championnats de F1.</p>
                  <p>Noémie Poulin est notre spécialiste, notre championne ! Elle est excellente à tous les niveaux, que ce soit en réglage auto, en trajectoire sur les virages larges et sérrés, elle tient un volant depuis sa plus tendre enfance, elle vous fera aimer à coups sûr la conduite sportive !</p>
                  <p>Stéphanie Laux est notre dernière recrue, elle vient de finir son championnat du monde d'endurance où elle a finit 5 ème avec son équipe.</p>
                </div>
                <div class="col-lg-6">
                  <img class="img-responsive" src="{{ asset('assets/img/briefing.jpg') }}" alt="">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="entretien">
              <h5 class="title"><i class="fa fa-cogs"></i> Voitures entretenues</h5>
              <div class="row">
                <div class="col-lg-6">
                  <p>Nos voitures sont bien entendu entretenues, révisées avant et après chaque sortie, ce qui vous permettra d'exploiter au maximum le potientiel de la voiture. Lors d'une sortie de pistes, les parties endommagées sont remplacées par de nouvelles pièces lorsque vous revenez au stand.</p>
                  <p>Le temps des réparations n'est pas compté sur le temps que vous avez choisi sur nos forfaits, ce qui laissera le loisir de profiter d'un véhicule remis à neuf lorsque vous reprendrez le volant. </p>
                  <p>Notre équipe de mécaniciens se tient à votre disposition en cas de besoin.</p>
                </div>
                <div class="col-lg-6">
                  <img class="img-responsive" src="{{ asset('assets/img/entretien.jpg') }}" alt="">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="dataVoiture">
              <h5 class="title"><i class="fa fa-print"></i> La data</h5>
              <p> Chaque voiture est équipée de capteurs pour enregistrer le plus d'informations possible et tout est envoyé en direct via un service cloud à notre équipe dans les stands qui pourront, lors de votre rentrée au stand vous aider à améliorer votre conduite.</p>
              <p> Plusieurs informations sont enregistrées : </p>
              <ul>
                <li>La vitesse réelle</li>
                <li>La vitesse compteur</li>
                <li>Le nombre de tours par minute</li>
                <li>La vitesse enclenchée</li>
                <li>La radio</li>
                <li>Le radar de la piste (postiion précise à 50 cm)</li>
              </ul>
            </div>
            <div class="tab-pane" id="video">
              <h5 class="title"><i class="fa fa-video"></i> Montage vidéo</h5>
              <p> Nous vous proposons plusieurs types de montages vidéos : </p>
              <p>La mise en place des caméras sur les pistes (comme à la télé)</p>
              <ul>
                <li>Nos casques sont équipés de caméras sportives</li>
                <li>La caméra dans la voie des stands</li>
                <li>2 caméras dans les stands</li>
                <li>Nous pouvons simuler une interview avec des journalistes</li>
                <li>Option : commentaire dans la vidéo</li>
                <li>Caméras sur différents emplacements de la voitures (pare-chocs, toit, habitacle, arrière du véhicule, près du sol)</li>
                <li>Mise en place des informations sur la vidéo (temps au tour, vitesse réelle, écarts des temps, etc...)</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="widget" data-effect="slide-left">
            <h3 class="title">Pourquoi nous choisir ?</h3>
            <p>Vous aurez la possibilité de faire plaisir à bord des plus belles voitures, et sur les plus beaux circuits ! </p>
            <p>Vous pouvez également offrir un stage à un proche ou un ami pour qu'il puisse réaliser son rêve !</p>
            <p>Nous avons régulièrement des nouveautés (voitures, circuits, jeux concours etc...) qui sont mises à jour sur notre site.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="widget" data-effect="slide-bottom">
            <h3 class="title"><i class="fa fa-laptop"></i> Des moyens modernes !</h3>
            <ul class="check">
              <li>Montage vidéo</li>
              <li>Briefing avec outils dernier cri</li>
              <li>Équipement complet à plusieurs tailles</li>
              <li>Une équipe de professionnels</li>
              <li>Bonne ambiance garantie</li>
              <li>Suivi de votre position sur nos radars</li>
              <li>Radars météo dernier cri (prévisions sur plusieurs heures)</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="widget" data-effect="slide-right">
            <h3 class="title"><i class="fa fa-cogs"></i> Des voitures bien entretenues !</h3>
            <ul class="check">
              <li>Uné équipe de mécaniciens passionés</li>
              <li>Remplacements des pièces en cas d'incident</li>
              <li>Changements des huiles avant chaque sortie</li>
              <li>Le temps des répartions n'est pas compté sur votre temps.</li>
              <li>Possibilité de changer les numéros sur les voitures</li>
              <li>Assurance pilote et voiture compris dans le prix du forfait</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}