{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
</div>

  {% trans_default_domain 'FOSUserBundle' %}
{{ form_end(form) }}

  <div>
    <a href="/login">Vous avez déjà un compte ?</a>
  </div>
  
</form>


