{% extends 'base.html.twig' %}

{% block title %} Keman Racing{% endblock %}
{% block body %}

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/">Acceuil</a></li>
          <li>Inscription</li>
        </ul>
        <h2>INSCRIPTION</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Chercher..." />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h4 class="title">
             <span>Pourquoi s'inscrire ?</span>
          </h4>
          <p>Pour pouvoir choisir votre voiture ou le circuit sur lequel vous voulez rouler, il faut vous s'inscrire, mais ce n'est pas tout ! En vous inscrivant chez nous, vous pourrez bénéficier de nombreuses réduction sur l'ensemble de nos produits en boutique !</p>
          <p>Alors, qu'attendez-vous ? Ça ne prends que quelques minutes et le tour est joué !</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h4 class="title">
             <span>Avantages</span>
          </h4>
          <ul class="check">
            <li>Choix multiples de voitures</li>
            <li>Des réductions sur notre boutique</li>
            <li>Inscription à la Newsletter </li>
            <li>Soirées privées pour tenter de gagner des prix !</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h4 class="title">
             <span>Je m'enregistre</span>
          </h4>

				{% block fos_user_content %}
				    {% include "@FOSUser/Registration/register_content.html.twig" %}
				{% endblock fos_user_content %}

        </div>
      </div>
    </div>
  </section>

{% endblock %}