{% trans_default_domain 'FOSUserBundle' %}


{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %} 



<form id="loginform" method="post" name="loginform" action="{{ path("fos_user_security_check") }}">
     {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Nom" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" >
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="password" class="form-control" placeholder="Mot de passe" type="password" id="password" name="_password" required="required" autocomplete="curent-password" >
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="remember_me" name="_remember_me" value="on" > Se souvenir de moi
        </label>
      </div>
    </div>
    <div class="form-group">
      <!-- <button type="submit" class="button">Je me connecte</button> -->
      <input type="submit" id="_submit" class="button" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </div>
</form>
