{% extends 'base.html.twig' %}

{% block title %} Keman Racing{% endblock %}
{% block body %}

  <header class="header">
    <div class="container">
      <div class="site-header clearfix">
        <div class="col-lg-3 col-md-3 col-sm-12 title-area">
          <div class="site-title" id="title">
            <a href="index.html" title="">
              <h4>MAXI<span>BIZ</span></h4>
            </a>
          </div>
        </div>
        <!-- title area -->
        <div class="col-lg-9 col-md-12 col-sm-12">
          <div id="nav" class="right">
            <div class="container clearfix">
              <ul id="jetmenu" class="jetmenu blue">
                <li><a href="index.html">Home</a>
                </li>
                <li><a href="#">Pages</a>
                  <ul class="dropdown">
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="team-members.html">Team Members</a></li>
                    <li><a href="testimonials.html">Testimonials</a></li>
                    <li><a href="404.html">404 Error</a></li>
                    <li><a href="faq.html">FAQ Page</a></li>
                    <li><a href="left-sidebar.html">Left Sidebar</a></li>
                    <li><a href="right-sidebar.html">Right Sidebar</a></li>
                    <li><a href="fullwidth.html">Full Width</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>
                </li>
                <li class="active"><a href="#">Shop</a>
                  <ul class="dropdown">
                    <li><a href="digital-download.html">Products Page</a></li>
                    <li><a href="single-product.html">Single Product</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="account.html">Account Page</a></li>
                    <li><a href="support.html">Support Center</a></li>
                  </ul>
                </li>
                <li><a href="#">Portfolio</a>
                  <ul class="dropdown">
                    <li><a href="single-portfolio-1.html">Single Portfolio 1</a></li>
                    <li><a href="single-portfolio-2.html">Single Portfolio 2</a></li>
                    <li><a href="portfolio-2.html">Portfolio (2 Columns)</a></li>
                    <li><a href="portfolio-3.html">Portfolio (3 Columns)</a></li>
                    <li><a href="gallery-portfolio.html">Gallery</a></li>
                    <li><a href="masonry-grid-portfolio.html">Masonry Grid Style</a></li>
                  </ul>
                </li>
                <li><a href="#">Blog</a>
                  <ul class="dropdown">
                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                    <li><a href="single-with-sidebar.html">Single with Sidebar</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- nav -->
        </div>
        <!-- title area -->
      </div>
      <!-- site header -->
    </div>
    <!-- end container -->
  </header>
  <!-- end header -->

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li>Checkout</li>
        </ul>
        <h2>CHECK OUT</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-8 col-md-8 col-sm-8 col-xs-12 clearfix">

        <table class="table table-striped checkout" data-effect="fade">
          <thead>
            <tr>
              <th>Item Name</th>
              <th>Item Price</th>
              <th>Quantity</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img width="50" src="img/recent_post_01.png" alt=""> <a href="#">MaxDash Bootstrap Theme</a></td>
              <td>$18.00</td>
              <td><input id="verify" class="form-control quantity" type="text" value="1" name=""></td>
              <td><a class="remove" href="#" title="Remove this item"></a></td>
            </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>

        <div class="pull-right">
          <a class="button" href="#">UPDATE CART</a> <a class="button" href="#">SAVE CART</a>
        </div>

        <div class="clearfix"></div>

        <div class="well text-right"><strong>TOTAL: $18.00</strong></div>

        <div class="clearfix"></div>

        <div class="payments">
          <p><img alt="" src="img/payments.png"></p>

          <label class="checkbox-inline">
                <input id="inlineCheckbox1" type="checkbox" value="option1">
                <strong>PAYPAL</strong>
                </label>
          <label class="checkbox-inline">
                <input id="inlineCheckbox2" type="checkbox" checked="" value="option2">
                <strong>CREDIT CARD</strong>
                </label>
        </div>

        <div class="clearfix"></div>
        <div class="divider"></div>

        <h5 class="title">PERSONAL INFORMATION</h5>

        <form id="personalinfo" action="" name="personalinfo" method="post">
          <label for="email">Email Address <span class="required">*</span></label>
          <input type="text" name="name" id="email" class="form-control" placeholder="example@yoursite.com">
          <label for="fname">First Name <span class="required">*</span></label>
          <input type="text" name="fname" id="fname" class="form-control" placeholder="John">
          <label for="lname">Last Name </label>
          <input type="text" name="lname" id="lname" class="form-control" placeholder="DOE">
        </form>

        <div class="clearfix"></div>
        <div class="divider"></div>

        <h5 class="title">CART DETAILS</h5>

        <form id="cartinfo" action="" name="cartinfo" method="post">
          <label for="cardnumber">Card Number <span class="required">*</span></label>
          <input type="text" name="cardnumber" id="cardnumber" class="form-control" placeholder="Your card number">
          <label for="cvc">CVC <span class="required">*</span></label>
          <input type="text" name="cvc" id="cvc" class="form-control" placeholder="Security code">
          <label for="ncard">Name on the Card <span class="required">*</span></label>
          <input type="text" name="ncard" id="ncard" class="form-control" placeholder="Name on the card">
          <label for="ncard">Expiration (MM/YY) <span class="required">*</span></label>

          <div class="clearfix"></div>

          <select class="form-control" style="width:75px; float:left; margin-right:10px;">
					<option>01</option>
					<option>02</option>
					<option>03</option>
					<option>04</option>
					<option>05</option>
					<option>06</option>
					<option>07</option>
					<option>08</option>
					<option>09</option>
					<option>10</option>
					<option>11</option>
					<option>12</option>
				</select>
          <select class="form-control" style="width:75px;float:left">
					<option>14</option>
					<option>15</option>
					<option>16</option>
					<option>17</option>
					<option>18</option>
					<option>19</option>
				</select>
        </form>

        <div class="clearfix"></div>
        <div class="divider"></div>

        <h5 class="title">BILLING INFORMATION</h5>

        <form id="billinginfo" action="" name="billinginfo" method="post">
          <label for="baddress">Billing Address 1</label>
          <input type="text" name="baddress" id="baddress" class="form-control" placeholder="Address line 1">
          <label for="baddress1">Billing Address 2 (Optional)</label>
          <input type="text" name="baddress1" id="baddress1" class="form-control" placeholder="Address line 2">
          <label for="bcity">Billing City</label>
          <input type="text" name="bcity" id="bcity" class="form-control" placeholder="Your city">
          <label for="bzip">Zip / Postal Code </label>
          <input type="text" name="bzip" id="bzip" class="form-control" placeholder="Your ZIP or postal code">

          <div class="clearfix"></div>

          <select class="form-control">
					<option>United States</option>
					<option>Spain</option>
					<option>United Kingdom</option>
					<option>France</option>
					<option>Japan</option>
					<option>Brazil</option>
					<option>Other Country</option>
				</select>
          <select class="form-control">
					<option>Alabama</option>
					<option>Other City</option>
					<option>Other City</option>
					<option>Other City</option>
					<option>Other City</option>
					<option>Other City</option>
					<option>Other City</option>
					<option>Other City</option>
				</select>
          <br>
          <div class="clearfix"></div>
          <button class="button">SHOW TERMS</button>
          <div class="clearfix"></div>

          <label class="checkbox-inline">
                    <input id="inlineCheckbox3" type="checkbox" value="option1">
                    <strong>AGREE TO TERMS</strong>
                </label>

          <br><br>
          <div class="well"><strong>PURCHASE TOTAL:</strong> $18.00</div>
          <br>
          <button class="button large btn-block">PURCHASE THIS ITEM</button>
        </form>

      </div>
      <!-- end content -->

      <div id="sidebar" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="widget">
          <h4 class="title">
                        <span>Subscribe</span>
                    </h4>
          <form id="subscribe" action="mc.php" name="subscribe" method="post">
            <input type="text" name="name" id="name" class="form-control" placeholder="Name">
            <input type="text" name="email" id="email" class="form-control" placeholder="Email">
            <div class="pull-right">
              <input type="submit" value="Subscribe" id="submit" class="button">
            </div>
          </form>
        </div>




      </div>
      <!-- end sidebar -->
    </div>
    <!-- end container -->
  </section>
  <!-- end section -->


{% endblock %}